

@code {

}
<section  class="d-flex align-items-center hero">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <h3 style="color:white;">Welcome to Dejzi Shop</h3><br>
        <h1 style="color:white;">
            <strong>
                <span>Dejzi shop </span><span style=""><strong> | Clothes | Jewelry | Accessories | Books | Electronics</strong></span>
            </strong>
        </h1>
       
        <h2 style="color:white;">
            ✓ Best offers
        </h2>

        <div class="row">
        </div>
        <h3 style="color: white;padding-top: 10px;text-align: right;">
            24 Hours <br><i class="bx bxs-time-five">&nbsp; </i>Service
        </h3>

        <div class="d-flex">
           
        </div>
    </div>
</section><!-- End Hero -->
