

@code {

}
<section class="categories-section">
    <div class="category-items">
<figure class="snip1566">
    <img src="../clothes.png" alt="sq-sample14" />
    <figcaption><i class="ion-android-add"></i></figcaption>
    <a href="/clothes"></a> 
    <h5>Clothes</h5>
</figure>
    <figure class="snip1566">
        <img src="../jewellry.png" alt="sq-sample19" />
        <figcaption><i class="ion-android-star-outline"></i></figcaption>
        <a href="/jewelry"></a>
        <h5>Jewelry</h5>
    </figure>
<figure class="snip1566">
    <img src="../accessories.png" alt="sq-sample19" />
    <figcaption><i class="ion-android-star-outline"></i></figcaption>
    <a href="/accessories"></a>
        <h5>Accessories</h5>
</figure>
<figure class="snip1566">
    <img src="../books.png" alt="sq-sample20" />
    <figcaption><i class="ion-android-stopwatch"></i></figcaption>
    <a href="/books"></a>
        <h5>Books</h5>
</figure>
    <figure class="snip1566">
        <img src="../electronics.png" alt="sq-sample20" />
        <figcaption><i class="ion-android-stopwatch"></i></figcaption>
        <a href="/electronics"></a>
        <h5>Electronics</h5>
    </figure>

    <figure class="snip1566">
        <img src="../pet-supplies.png" alt="sq-sample20" />
        <figcaption><i class="ion-android-stopwatch"></i></figcaption>
        <a href="/pet-supplies"></a>
        <h5>Pet Supplies</h5>
    </figure>
    <figure class="snip1566">
        <img src="../home-kitchen.png" alt="sq-sample20" />
        <figcaption><i class="ion-android-stopwatch"></i></figcaption>
        <a href="/home-kitchen"></a>
        <h5>Home & Kitchen</h5>
    </figure>
    <figure class="snip1566">
        <img src="../shoes.png" alt="sq-sample20" />
        <figcaption><i class="ion-android-stopwatch"></i></figcaption>
        <a href="/shoes"></a>
        <h5>Shoes</h5>
    </figure>
    <figure class="snip1566">
        <img src="../bags.png" alt="sq-sample20" />
        <figcaption><i class="ion-android-stopwatch"></i></figcaption>
        <a href="/bags"></a>
        <h5>Bags</h5>
    </figure>
    <figure class="snip1566">
        <img src="../school-supplies.png" alt="sq-sample20" />
        <figcaption><i class="ion-android-stopwatch"></i></figcaption>
        <a href="/office-school-supplies"></a>
        <h5>Office & School</h5>
    </figure>
    </div>
</section>


<script>
    /* Demo purposes only */
$(".hover").mouseleave(
  function () {
    $(this).removeClass("hover");
  }
);

</script>